In [250]:
import os
import pandas as pd

TRAINING_FILE = "train.csv"
TESTING_FILE = "train.csv"

def load_data(file, header=True):
    csv_path = os.path.join("", file)
    if header:
        return pd.read_csv(csv_path)
    else:
        return pd.read_csv(csv_path, header=None)


data = load_data(TRAINING_FILE)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [251]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [252]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [253]:
datacopy = data.copy()

In [254]:
agedata = data.copy()

In [255]:
agedata.drop("Survived", axis=1, inplace=True)
agedata.drop("Name", axis=1, inplace=True)
agedata.drop("Ticket", axis=1, inplace=True)
agedata.drop("Cabin", axis=1, inplace=True)
agedata.drop("Embarked", axis=1, inplace=True)

In [256]:
from sklearn.preprocessing import LabelBinarizer

encoder = LabelBinarizer()
gender_1hot = encoder.fit_transform(agedata["Sex"])
agedata["Gender"] = gender_1hot
agedata.drop("Sex", axis=1, inplace=True)

In [257]:
X_ = agedata[agedata["Age"].notnull()]
Y = X_["Age"].values
X_.drop("Age", axis=1, inplace=True)
X_.drop("PassengerId", axis=1, inplace=True)
X = X_[list(X_)].values

test_X_ = agedata[agedata["Age"].isnull()]
ids = test_X_["PassengerId"].copy()
test_X_.drop("Age", axis=1, inplace=True)
test_X_.drop("PassengerId", axis=1, inplace=True)
test_X = test_X_[list(test_X_)].values

/Users/yogesh/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yogesh/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/yogesh/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/yogesh/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [258]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor()
tree_reg.fit(X, Y)
test_Y = tree_reg.predict(test_X)

In [259]:
import pandas as pd

df = pd.DataFrame(columns=["PassengerId", "Age"])
df["PassengerId"] = ids.values
df["Age"] = test_Y
data = pd.merge(left=data, right=df, how='left', on='PassengerId')

In [260]:
data["Age_x"].fillna(0, inplace=True)
data["Age_y"].fillna(0, inplace=True)
data["Age"] = data["Age_x"] + data["Age_y"]

In [261]:
data.drop("Age_x", axis=1, inplace=True)
data.drop("Age_y", axis=1, inplace=True)
data

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.000000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.000000
5,6,0,3,"Moran, Mr. James",male,0,0,330877,8.4583,NaN,Q,21.000000
6,7,0,1,"McCarthy, Mr. Timothy J",male,0,0,17463,51.8625,E46,S,54.000000
7,8,0,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,21.0750,NaN,S,2.000000
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,0,2,347742,11.1333,NaN,S,27.000000
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,1,0,237736,30.0708,NaN,C,14.000000
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,1,1,PP 9549,16.7000,G6,S,4.000000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,0,0,113783,26.5500,C103,S,58.000000
12,13,0,3,"Saundercock, Mr. William Henry",male,0,0,A/5. 2151,8.0500,NaN,S,20.000000
13,14,0,3,"Andersson, Mr. Anders Johan",male,1,5,347082,31.2750,NaN,S,39.000000
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,0,350406,7.8542,NaN,S,14.000000
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,0,0,248706,16.0000,NaN,S,55.000000
16,17,0,3,"Rice, Master. Eugene",male,4,1,382652,29.1250,NaN,Q,2.000000
17,18,1,2,"Williams, Mr. Charles Eugene",male,0,0,244373,13.0000,NaN,S,31.777778
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1,0,345763,18.0000,NaN,S,31.000000
19,20,1,3,"Masselmani, Mrs. Fatima",female,0,0,2649,7.2250,NaN,C,15.000000
20,21,0,2,"Fynney, Mr. Joseph J",male,0,0,239865,26.0000,NaN,S,35.000000
21,22,1,2,"Beesley, Mr. Lawrence",male,0,0,248698,13.0000,D56,S,34.000000
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,0,0,330923,8.0292,NaN,Q,15.000000
23,24,1,1,"Sloper, Mr. William Thompson",male,0,0,113788,35.5000,A6,S,28.000000
24,25,0,3,"Palsson, Miss. Torborg Danira",female,3,1,349909,21.0750,NaN,S,8.000000
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,1,5,347077,31.3875,NaN,S,38.000000
26,27,0,3,"Emir, Mr. Farred Chehab",male,0,0,2631,7.2250,NaN,C,32.500000
27,28,0,1,"Fortune, Mr. Charles Alexander",male,3,2,19950,263.0000,C23 C25 C27,S,19.000000
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,0,330959,7.8792,NaN,Q,19.000000
29,30,0,3,"Todoroff, Mr. Lalio",male,0,0,349216,7.8958,NaN,S,27.909091
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,1,0,28134,11.5000,NaN,S,21.000000
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,0,0,17466,25.9292,D17,S,48.000000
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,8,2,CA. 2343,69.5500,NaN,S,16.000000
864,865,0,2,"Gill, Mr. John William",male,0,0,233866,13.0000,NaN,S,24.000000
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,0,0,236852,13.0000,NaN,S,42.000000
866,867,1,2,"Duran y More, Miss. Asuncion",female,1,0,SC/PARIS 2149,13.8583,NaN,C,27.000000
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,0,0,PC 17590,50.4958,A24,S,31.000000
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0,0,345777,9.5000,NaN,S,26.000000
869,870,1,3,"Johnson, Master. Harold Theodor",male,1,1,347742,11.1333,NaN,S,4.000000
870,871,0,3,"Balkic, Mr. Cerin",male,0,0,349248,7.8958,NaN,S,26.000000
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1,1,11751,52.5542,D35,S,47.000000
872,873,0,1,"Carlsson, Mr. Frans Olof",male,0,0,695,5.0000,B51 B53 B55,S,33.000000
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,0,0,345765,9.0000,NaN,S,47.000000
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1,0,P/PP 3381,24.0000,NaN,C,28.000000
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0,0,2667,7.2250,NaN,C,15.000000
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,0,0,7534,9.8458,NaN,S,20.000000
877,878,0,3,"Petroff, Mr. Nedelio",male,0,0,349212,7.8958,NaN,S,19.000000
878,879,0,3,"Laleff, Mr. Kristo",male,0,0,349217,7.8958,NaN,S,27.909091
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,0,1,11767,83.1583,C50,C,56.000000
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,0,1,230433,26.0000,NaN,S,25.000000
881,882,0,3,"Markun, Mr. Johann",male,0,0,349257,7.8958,NaN,S,33.000000
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,0,0,7552,10.5167,NaN,S,22.000000
883,884,0,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,10.5000,NaN,S,28.000000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,7.0500,NaN,S,25.000000
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,0,5,382652,29.1250,NaN,Q,39.000000
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S,13.500000
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C,26.000000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q,32.000000

In [262]:
data["Cabin"].fillna("DEFAULT", inplace=True)
data

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,DEFAULT,S,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,DEFAULT,S,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.000000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,DEFAULT,S,35.000000
5,6,0,3,"Moran, Mr. James",male,0,0,330877,8.4583,DEFAULT,Q,21.000000
6,7,0,1,"McCarthy, Mr. Timothy J",male,0,0,17463,51.8625,E46,S,54.000000
7,8,0,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,21.0750,DEFAULT,S,2.000000
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,0,2,347742,11.1333,DEFAULT,S,27.000000
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,1,0,237736,30.0708,DEFAULT,C,14.000000
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,1,1,PP 9549,16.7000,G6,S,4.000000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,0,0,113783,26.5500,C103,S,58.000000
12,13,0,3,"Saundercock, Mr. William Henry",male,0,0,A/5. 2151,8.0500,DEFAULT,S,20.000000
13,14,0,3,"Andersson, Mr. Anders Johan",male,1,5,347082,31.2750,DEFAULT,S,39.000000
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,0,350406,7.8542,DEFAULT,S,14.000000
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,0,0,248706,16.0000,DEFAULT,S,55.000000
16,17,0,3,"Rice, Master. Eugene",male,4,1,382652,29.1250,DEFAULT,Q,2.000000
17,18,1,2,"Williams, Mr. Charles Eugene",male,0,0,244373,13.0000,DEFAULT,S,31.777778
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1,0,345763,18.0000,DEFAULT,S,31.000000
19,20,1,3,"Masselmani, Mrs. Fatima",female,0,0,2649,7.2250,DEFAULT,C,15.000000
20,21,0,2,"Fynney, Mr. Joseph J",male,0,0,239865,26.0000,DEFAULT,S,35.000000
21,22,1,2,"Beesley, Mr. Lawrence",male,0,0,248698,13.0000,D56,S,34.000000
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,0,0,330923,8.0292,DEFAULT,Q,15.000000
23,24,1,1,"Sloper, Mr. William Thompson",male,0,0,113788,35.5000,A6,S,28.000000
24,25,0,3,"Palsson, Miss. Torborg Danira",female,3,1,349909,21.0750,DEFAULT,S,8.000000
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,1,5,347077,31.3875,DEFAULT,S,38.000000
26,27,0,3,"Emir, Mr. Farred Chehab",male,0,0,2631,7.2250,DEFAULT,C,32.500000
27,28,0,1,"Fortune, Mr. Charles Alexander",male,3,2,19950,263.0000,C23 C25 C27,S,19.000000
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,0,330959,7.8792,DEFAULT,Q,19.000000
29,30,0,3,"Todoroff, Mr. Lalio",male,0,0,349216,7.8958,DEFAULT,S,27.909091
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,1,0,28134,11.5000,DEFAULT,S,21.000000
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,0,0,17466,25.9292,D17,S,48.000000
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,8,2,CA. 2343,69.5500,DEFAULT,S,16.000000
864,865,0,2,"Gill, Mr. John William",male,0,0,233866,13.0000,DEFAULT,S,24.000000
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,0,0,236852,13.0000,DEFAULT,S,42.000000
866,867,1,2,"Duran y More, Miss. Asuncion",female,1,0,SC/PARIS 2149,13.8583,DEFAULT,C,27.000000
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,0,0,PC 17590,50.4958,A24,S,31.000000
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0,0,345777,9.5000,DEFAULT,S,26.000000
869,870,1,3,"Johnson, Master. Harold Theodor",male,1,1,347742,11.1333,DEFAULT,S,4.000000
870,871,0,3,"Balkic, Mr. Cerin",male,0,0,349248,7.8958,DEFAULT,S,26.000000
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1,1,11751,52.5542,D35,S,47.000000
872,873,0,1,"Carlsson, Mr. Frans Olof",male,0,0,695,5.0000,B51 B53 B55,S,33.000000
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,0,0,345765,9.0000,DEFAULT,S,47.000000
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1,0,P/PP 3381,24.0000,DEFAULT,C,28.000000
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0,0,2667,7.2250,DEFAULT,C,15.000000
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,0,0,7534,9.8458,DEFAULT,S,20.000000
877,878,0,3,"Petroff, Mr. Nedelio",male,0,0,349212,7.8958,DEFAULT,S,19.000000
878,879,0,3,"Laleff, Mr. Kristo",male,0,0,349217,7.8958,DEFAULT,S,27.909091
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,0,1,11767,83.1583,C50,C,56.000000
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,0,1,230433,26.0000,DEFAULT,S,25.000000
881,882,0,3,"Markun, Mr. Johann",male,0,0,349257,7.8958,DEFAULT,S,33.000000
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,0,0,7552,10.5167,DEFAULT,S,22.000000
883,884,0,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,10.5000,DEFAULT,S,28.000000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,7.0500,DEFAULT,S,25.000000
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,0,5,382652,29.1250,DEFAULT,Q,39.000000
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,DEFAULT,S,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,DEFAULT,S,13.500000
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C,26.000000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,DEFAULT,Q,32.000000

In [269]:
np.shape(encoder.fit_transform(data["Embarked"]))

TypeError: '<' not supported between instances of 'float' and 'str'